.form-wrapper
  .form-wrapper__container
    %h2.form-wrapper__container__heading Sign up
    = form_with model: @user, url: user_registration_path, class: "form-wrapper__container__new-user-form", local: true do |f|
      = devise_error_messages!

      .form-wrapper__container__new-user-form__field
        = f.text_field :name, class: "form-wrapper__container__new-user-form__field__input", autofocus: true, placeholder: 'Name', autocomplete: "name" 
      .form-wrapper__container__new-user-form__field
        = f.email_field :email, class: "form-wrapper__container__new-user-form__field__input", placeholder: 'Eメール', autocomplete: "email"
      .form-wrapper__container__new-user-form__field
        - if @validatable
          %em = "パスワードは#{@minimum_password_length}文字以上入力して下さい"
          %br/
        = f.password_field :password, class: "form-wrapper__container__new-user-form__field__input", placeholder: 'パスワード(8文字~32文字)', autocomplete: "new-password"
      .form-wrapper__container__new-user-form__field
        = f.password_field :password_confirmation, class: "form-wrapper__container__new-user-form__field__input", placeholder: 'パスワード(確認)', autocomplete: "new-password"
      .form-wrapper__container__new-user-form__field__actions
        = f.submit "Sign up", class: "form-wrapper__container__new-user-form__field__actions--button"
    -# = render "devise/shared/links"
