.goal-wrapper
  .goal-index__container
    - if @projects.present?
      .goal-index__container__header
        .goal-index__container__header__title
          %p
            = "プロジェクトの総数：#{@projects.count}" 
        .goal-index__container__header__edit
          -# = link_to new_user_goal_path(current_user) do
          -#   = icon('fa', 'plus-circle')
          -#   目標を追加
      - @projects.each do |project|  
        .goal-index__container__contents
          .goal-index__container__contents__top
            .goal-index__container__contents__top__title
              %p
                = project.title
            .goal-index__container__contents__top__links
              = link_to edit_team_project_path(project.team, project) do
                = icon('fa', 'edit')
              = link_to team_project_path(project.team, project), method: :delete do
                = icon('fa', 'trash')
          .goal-index__container__contents__status
            - if project.project_phases.present?
              - unless project.phase_title.nil?
                - project.project_phases.each do |phase|
                  - if phase.title == project.phase_title
                    .goal-index__container__contents__status__phase
                      %p
                        %span
                          = icon('fa', 'check-circle')
                        現在のフェーズ
                      %p.goal-index__container__contents__status__phase__title
                        = "・#{project.phase_title}"
                      .goal-index__container__contents__status__phase__task
                        .goal-index__container__contents__status__phase__task__count
                          %p
                            = "完了したタスク数 :#{sort_tasks(phase.project_tasks).count}"
                          %p
                            = "残りのタスク数 :#{phase.project_tasks.count - sort_tasks(phase.project_tasks).count}"
                        .goal-index__container__contents__status__phase__task__show
                          = link_to team_project_path(project.team, project) do
                            %span
                              = icon('fa', 'vote-yea')
                            詳細ページ
                    .goal-index__container__contents__status__task-unfinished
                      .goal-show-info__contents__bottom__accbox
                        %label.goal-show-info__contents__bottom__accbox__label
                          %span
                            = icon('fa', 'tasks')
                          担当タスクを確認
                          = icon('fa', 'angle-down')
                          %input.goal-show-info__contents__bottom__accbox__cssacc{:type => "checkbox"}
                          .goal-show-info__contents__bottom__accbox__accshow
                            .goal-index__container__contents__status__task-unfinished__task
                              - unless phase.project_tasks.empty?
                                - phase.project_tasks.each do |task|
                                  - if task.user_id == current_user.id
                                    - if task.task_flg == true
                                      %p
                                        = icon('fa', 'check-square')
                                        = task.title
                                    - else
                                      %p
                                        = icon('fa', 'caret-right')
                                        = task.title
                                  - else
                              - else
                                %p タスク無し
              - else
                .goal-index__container__contents__status__phase
                  %p.goal-index__container__contents__status__phase__info
                    フェーズが設定されていません
                .goal-index__container__contents__status__phase__task
                  .goal-index__container__contents__status__phase__task__count
                  .goal-index__container__contents__status__phase__task__show
                    = link_to team_project_path(project.team, project) do
                      %span
                        = icon('fa', 'vote-yea')
                      詳細ページ                                 
            - else
              .goal-index__container__contents__status__phase
                %p
                  詳細ページでフェーズを作成して下さい
              .goal-index__container__contents__status__phase__task
                .goal-index__container__contents__status__phase__task__count
                .goal-index__container__contents__status__phase__task__show
                  = link_to team_project_path(project.team, project) do
                    %span
                      = icon('fa', 'vote-yea')
                    詳細ページ
    - else
      .goal-index__container__header
        .goal-index__container__header__title
          %p
            = "目標の総数：#{@projects.count}" 
        .goal-index__container__header__edit
          参加しているプロジェクトはありません