.goal-wrapper
  .goal-show-info
    .goal-show-info__header
      %h2.goal-show-info__header__title
        = @project.title
      .goal-show-info__header__action
        - unless @project.project_minds.empty?
          - @project.project_minds.each do |project_mind|
            %p 
              = project_mind.title
        - else
          %p アクションを追加して下さい
      .goal-show-info__header__test-link
        = link_to 'アクションを追加する', new_project_project_mind_path(@project)
        = link_to 'フェーズを追加', new_project_project_phase_path(@project)
    - unless @project_phases.empty?
      - @project_phases.each do |project_phase|
        .goal-show-info__contents
          .project-show-info__contents__phase-title
            %p
              = project_phase.title
          .project-show-info__contents__top
            .goal-show-info__contents__phase
              .project-show-info__contents__phase__config
                - unless project_phase.title == @project.phase_title
                  %p 現在のフェーズに変更
                - else
                  %p 進行中のフェーズ
              %p#project_phase_data{data: {projectphase: {id: project_phase.id}}}
                = link_to 'フェーズを編集する', edit_project_project_phase_path(@project,project_phase)
            .project-show-info__contents__top__comments
              .goal-show-info__contents__phase__comments
                - unless project_phase.project_comments.empty?
                  - sort_created_at(project_phase.project_comments).each do |project_comment|
                    %p 
                      = "#{project_comment.content} #{project_comment.user.name}"
              .project-show-info__contents__comments
                .token{data: {authenticity: {token: form_authenticity_token}}}
                %input{:type => "text", :placeholder => "コメント"}
                %button.project_comment_button 送信
          .project-show-info__contents__phase__config
            .project-show-info__contents__phase__tasks
              = link_to 'タスクを作成', new_project_phase_project_task_path(project_phase)
              - unless project_phase.project_tasks.empty?
                .goal-show-info__contents__accbox
                  %label
                    タスクを表示
                    %input.goal-show-info__contents__accbox__cssacc{:type => "checkbox"}
                    .goal-show-info__contents__accbox__accshow
                      - sort_created_at(project_phase.project_tasks).each do |project_task|
                        .goal-show-info__contents__accbox__accshow__checkbox
                          %label.goal-show-info__contents__accbox__accshow__checkbox__label
                            - if project_task.task_flg == true
                              - unless project_task.user.id == current_user.id
                                %input.project-show-info__contents__accbox__accshow__checkbox__input{:type => "checkbox", :checked => "checked"}
                            - else
                              - unless project_task.user.id == current_user.id
                                %input.project-show-info__contents__accbox__accshow__checkbox__input{:type => "checkbox"}
                            = project_task.title
                            #project_task{data: {projecttask: {id: project_task.id}}}
                          %p.goal-show-info__contents__accbox__accshow__checkbox__timestamp
                            - unless project_task.task_flg == false
                              = "#{project_task.updated_at.year}年#{project_task.updated_at.mon}月#{project_task.updated_at.day}日"
                              = "担当: #{project_task.user.name}"

              - else
                %p タスクを作成して下さい
    - else
      .goal-show-info__contents
        %p.empty empty
        %p.empty フェーズを追加して下さい