.form-wrapper
  .form-wrapper__container
    .form-wrapper__container__header
      %p
        = icon('fa', 'user-lock')
    = form_with model: @user, url: user_session_path, class: "form-wrapper__container__form", local: true do |f|
      = devise_error_messages!
      .form-wrapper__container__form__field
        %span
          = icon('fa', 'envelope')
        = f.email_field :email, class: "form-wrapper__container__form__field__input", placeholder: 'email', autofocus: true, autocomplete: "email"
      .form-wrapper__container__form__field
        - if @validatable
          %em 
            = "パスワードは#{@minimum_password_length}文字以上入力して下さい"
          %br/
        %span
          = icon('fa', 'key')
        = f.password_field :password, class: "form-wrapper__container__form__field__input", placeholder: 'password', autocomplete: "new-password"
      .form-wrapper__container__form__field__remember
        = f.check_box :remember_me
        = f.label :remember_me, "ログイン状態を記憶する"
      .form-wrapper__container__form__field
        = f.submit "ログイン", class: "form-wrapper__container__form__field__button"
    -# = render "devise/shared/links"
    .form-wrapper__container__info
      %p アカウントを持っていない方
      = link_to "アカウント作成", new_user_registration_path, class: 'btn form-wrapper__container__info__button'