- provide(:title, "ダッシュボード")
.goal-wrapper
  = render 'shared/header'
  .goal-index__container
    - if @goals.present?
      .goal-index__container__header
        .goal-index__container__header__title
          %p
            = "目標の総数：#{@goals.count}"
      - @goals.each do |goal|
      - phase = goal.search_phase(goal)
      - tasks = phase.tasks
      - checked_tasks = phase.search_checked_tasks(phase)
      - unchecked_tasks = phase.search_unchecked_tasks(phase)
        .goal-index__container__contents
          .goal-index__container__contents__title
            %h2
              = goal.title
          .goal-index__container__contents__main
            .goal-index__container__contents__main__phase
              .goal-index__container__contents__main__phase__title
                - if goal.phases.present?
                  - if goal.phase_title.present?
                    %p
                      = phase.title
                  - else
                    %p
                      フェーズが設定されていません
                - else
                  %p
                    フェーズを作成してください
              .goal-index__container__contents__main__phase__tasks
                .goal-index__container__contents__main__phase__tasks__unfinished-task
                  - if tasks.present?
                    %p
                      = "残りのタスク：#{unchecked_tasks.count}"
                    %ul
                      - unchecked_tasks.each do |task|
                        %li
                          = icon('fa', 'caret-right', class: 'caret')
                          = task.title
                  - else
                    %p タスク無し
                .goal-index__container__contents__main__phase__tasks__finished-task
                  .goal-index__container__contents__main__finished-task__index
                    - if tasks.present?
                      %p
                        = "完了したタスク：#{sort_tasks(phase.tasks).count}"
                        %ul
                          - checked_tasks.each do |task|
                            %li
                              = icon('fa', 'check-square', class: 'check-square')
                              = task.title
                    - else
                      %p タスク無し
            .goal-index__container__contents__main__side-bar
              .goal-index__container__contents__main__side-bar__links
                .goal-index__container__contents__main__side-bar__links__show
                  = link_to '詳細ページに移動', user_goal_path(current_user, goal)
                .goal-index__container__contents__main__side-bar__links__edit
                  %button.goal-title-edit
                    = link_to '目標名の編集', edit_user_goal_path(current_user, goal)
                  %button.goal-title-delete
                    = link_to '目標を削除', user_goal_path(current_user, goal), method: :delete
    - else
      .goal-index__container__header
        .goal-index__container__header__title
          %p
            目標の総数：0
      .goal-index__container__contents
        .goal-index__container__contents__top
          .goal-index__container__contents__top__title
            %p
              目標を作成しましょう