.goal-wrapper
  .goal-index-info
    .goal-index-info__main
      .goal-index-info__main__statusbar
        %p
          = "立てた目標：#{@goals.count}" 
      .goal-index-info__main__status-label
        %p 目標
      - @goals.each do |goal|
        .goal-index-info__main__status
          .goal-index-info__main__status__right
            %p 
              = goal.title
              - if goal.phase_title
                %p 
                  = "進行中のフェーズ #{goal.phase_title}"
                %p task 3 / 7
              - else
                %p 進行中のフェーズ なし
                %p task 3 / 7
          .goal-index-info__main__status__left
            .goal-index-info__main__status__left__link
              = link_to 'Show', goal_path(goal)
    .goal-index-info__sidebar
      .goal-index-info__sidebar__task-list
        .goal-index-info__sidebar__task-list__label
          %p task index
        .goal-index-info__sidebar__task-list__task
          %p task1