.goal-wrapper
  .goal-show-info
    .goal-show-info__header
      %h2.goal-show-info__header__title
        = @goal.title
      .goal-show-info__header__action
        - unless @goal.minds.empty?
          - @goal.minds.each do |mind|
            %p 
              = mind.title
        - else
          %p アクションを追加して下さい
      .goal-show-info__header__test-link
        = link_to 'アクションを追加する', new_goal_mind_path(@goal)
    - unless @phase.nil?
      .goal-show-info__contents
        .goal-show-info__contents__phase-header
          .goal-show-info__contents__phase-header__title
            .goal-show-info__contents__phase-header__title__nav
              %p 
                %span 
                  = icon('fa', 'check-circle')
                進行中のフェーズ
              .goal-show-info__contents__phase-header__title__nav__link
                = link_to edit_goal_phase_path(@goal,@phase) do
                  = icon('fa', 'edit')
                = link_to goal_phase_path(@goal,@phase), method: :delete do
                  = icon('fa', 'trash')
            %p.goal-show-info__contents__phase-header__title__phase
              = @phase.title
        .goal-show-info__contents__top
          .goal-show-info__contents__top__phase
            %p#phase_data{data: {phase: {id: @phase.id}}}
          .goal-show-info__contents__top__tasks
            .goal-show-info__contents__top__tasks__title
              %p タスクのチェック
            - unless @phase.tasks.empty?
              - sort_created_at(@phase.tasks).each do |task|
                .goal-show-info__contents__top__tasks__index
                  .goal-show-info__contents__top__tasks__index__timestamp
                    %p.goal-show-info__contents__accbox__accshow__checkbox__timestamp
                      - unless task.task_flg == false
                        = "#{task.updated_at.year}年#{task.updated_at.mon}月#{task.updated_at.day}日"
                  .goal-show-info__contents__top__tasks__index__checkbox
                    .goal-show-info__contents__top__tasks__index__checkbox__main
                      %label.goal-show-info__contents__accbox__accshow__checkbox__label
                        - if task.task_flg == true
                          %input.goal-show-info__contents__accbox__accshow__checkbox__input{:type => "checkbox", :checked => "checked"}
                        - else
                          %input.goal-show-info__contents__accbox__accshow__checkbox__input{:type => "checkbox"}
                        = task.title
                        #task{data: {task: {id: task.id}}}
                    .goal-show-info__contents__top__tasks__index__checkbox__link
                      = link_to edit_phase_task_path(@phase, task) do
                        = icon('fa', 'edit')
                      = link_to new_phase_task_path(@phase), method: :delete do
                        = icon('fa', 'trash')
            - else
              %p タスクはありません          
            .goal-show-info__contents__top__tasks__create
              = link_to new_phase_task_path(@phase) do
                = icon('fa', 'tasks')
                タスクの作成
        .goal-show-info__contents__bottom
          .goal-show-info__contents__bottom__accbox
            %label.goal-show-info__contents__bottom__accbox__label
              %span
                = icon('fa', 'comment')
              コメントメニュー
              = icon('fa', 'angle-down')
              %input.goal-show-info__contents__bottom__accbox__cssacc{:type => "checkbox"}
              .goal-show-info__contents__bottom__accbox__accshow
                .goal-show-info__contents__bottom__comments
                  - unless @phase.comments.empty?
                    - sort_created_at(@phase.comments).each do |comment|
                      .goal-show-info__contents__bottom__comments__content
                        .goal-show-info__contents__bottom__comments__content__comment
                          %p 
                            = comment.content
                          = link_to phase_comment_path(@phase,comment), method: :delete do
                            = icon('fa', 'trash')
                  .goal-show-info__contents__bottom__comments__form{data: {commentphase: {id: @phase.id}}}
                    .token{data: {authenticity: {token: form_authenticity_token}}}
                    %input{:type => "text", :placeholder => "コメント"}
                    %button.comment_button
                      = icon('fa', 'paper-plane')
      .goal-show-info__create
        = link_to new_goal_phase_path(@goal) do
          = icon('fa', 'plus-circle')
          フェーズを追加
    - else
      .goal-show-info__contents
        %p.empty empty
        = link_to new_goal_phase_path(@goal) do
          = icon('fa', 'plus')
          フェーズを追加    
    - unless @phases.empty?
      - @phases.each do |phase|
        .goal-show-info__contents
          .goal-show-info__contents__phase-header
            .goal-show-info__contents__phase-header__title
              .goal-show-info__contents__phase-header__title__nav
                %p 
                  = link_to edit_api_phase_path(phase) do
                    = icon('fa', 'check-circle')
                    フェーズを切り替える
                .goal-show-info__contents__phase-header__title__nav__link
                  = link_to edit_goal_phase_path(@goal,phase) do
                    = icon('fa', 'edit')
                  = link_to goal_phase_path(@goal,phase), method: :delete do
                    = icon('fa', 'trash')
              %p.goal-show-info__contents__phase-header__title__phase
                = phase.title
          .goal-show-info__contents__top
            .goal-show-info__contents__top__phase
              %p#phase_data{data: {phase: {id: phase.id}}}
            .goal-show-info__contents__top__tasks
              .goal-show-info__contents__top__tasks__title
                %p タスクのチェック
              - unless phase.tasks.empty?
                - sort_created_at(phase.tasks).each do |task|
                  .goal-show-info__contents__top__tasks__index
                    .goal-show-info__contents__top__tasks__index__timestamp
                      %p.goal-show-info__contents__accbox__accshow__checkbox__timestamp
                        - unless task.task_flg == false
                          = "#{task.updated_at.year}年#{task.updated_at.mon}月#{task.updated_at.day}日"
                    .goal-show-info__contents__top__tasks__index__checkbox
                      .goal-show-info__contents__top__tasks__index__checkbox__main
                        %label.goal-show-info__contents__accbox__accshow__checkbox__label
                          - if task.task_flg == true
                            %input.goal-show-info__contents__accbox__accshow__checkbox__input{:type => "checkbox", :checked => "checked"}
                          - else
                            %input.goal-show-info__contents__accbox__accshow__checkbox__input{:type => "checkbox"}
                          = task.title
                          #task{data: {task: {id: task.id}}}
                      .goal-show-info__contents__top__tasks__index__checkbox__link
                        = link_to edit_phase_task_path(phase, task) do
                          = icon('fa', 'edit')
                        = link_to new_phase_task_path(phase), method: :delete do
                          = icon('fa', 'trash')
              - else
                %p タスクはありません          
              .goal-show-info__contents__top__tasks__create
                = link_to new_phase_task_path(phase) do
                  = icon('fa', 'tasks')
                  タスクの作成
          .goal-show-info__contents__bottom
            .goal-show-info__contents__bottom__accbox
              %label.goal-show-info__contents__bottom__accbox__label
                %span
                  = icon('fa', 'comment')
                コメントメニュー
                = icon('fa', 'angle-down')
                %input.goal-show-info__contents__bottom__accbox__cssacc{:type => "checkbox"}
                .goal-show-info__contents__bottom__accbox__accshow
                  .goal-show-info__contents__bottom__comments
                    - unless phase.comments.empty?
                      - sort_created_at(phase.comments).each do |comment|
                        .goal-show-info__contents__bottom__comments__content
                          .goal-show-info__contents__bottom__comments__content__comment
                            %p 
                              = comment.content
                            = link_to phase_comment_path(phase,comment), method: :delete do
                              = icon('fa', 'trash')
                    .goal-show-info__contents__bottom__comments__form{data: {commentphase: {id: phase.id}}}
                      .token{data: {authenticity: {token: form_authenticity_token}}}
                      %input{:type => "text", :placeholder => "コメント"}
                      %button.comment_button
                        = icon('fa', 'paper-plane')
        .goal-show-info__create
          = link_to new_goal_phase_path(@goal) do
            = icon('fa', 'plus-circle')
            フェーズを追加
    - else
      .goal-show-info__contents
        %p.empty empty
        = link_to new_goal_phase_path(@goal) do
          = icon('fa', 'plus')
          フェーズを追加 