%header
  .header-items
    .header-items__links
      %ul.header-items__links__lists
        %li.header-items__links__lists--logo
          = link_to 'Logo', root_path
        %li
          = link_to 'マイページ', goals_path
        %li
          = link_to 'menu', '#'
        %li
          = link_to 'menu', '#'
    .header-items__account
      %ul.header-items__account__gnav
        %li
          = link_to 'Account', '#'
          - if user_signed_in?
            %ul
              %li
                = link_to 'Dashboard', '#'
              %li
                = link_to '目標の新規作成', new_goal_path
              %li
                = link_to 'Log out', destroy_user_session_path, method: :delete
          - else
            %ul
              %li
                = link_to 'Log in', new_user_session_path